.box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: #1a446e;
    padding: 5px;
    border-radius: 11px;
    margin: 5px;
    color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

}

.humidity .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ratio {
    display: flex;
}